<img class="profile_pic" src="<%= @dashboard.profile_pic %>">
<div class="starred_repos">
</div>
<div class="followers">
  Followers (<%= @dashboard.followers %>)
</div>
<div class="following">
  Following (<%= @dashboard.following %>)
</div>

<div class="repositories">
  <%= link_to "Repositories", repositories_path %>
</div>
