<h1>Repositories</h1>

  <div class="col-9 float-left pl-2">
    <div class="repo_list">
      <% @repos.map do |repo| %>
        <div class="repository">
          <h3>
            <div class="name"><%= repo.name %></li>
          </h3>
          <p class="description"><%= repo.description %></li>
          <div class="">
            <span class="language"><%= repo.language %></li>
            <span class="updated">Last Updated: <%= repo.updated %> days ago</li>
          </div>
        </div>
      <% end %>
    </div>
  </div>
